.wapper
  =render "header"
.contens
  .left-contents
    .left-contents__property
      makurahumi
    .left-contents__groups

  .right-contents
    .right-contents__title
    .right-contents__message
    .right-contents__send