.captions
  - current_user.groups.each do |group|
    .caption
      = link_to group_comments_path(group) do
        %p.caption__name
          = group.name
        %p.caption__comment
          = group.show_last_comment