.caption
  .caption__group
    - current_user.groups.each do |group|
      =link_to "/", class: "caption__group--link" do
        .caption__group--name
          = group.name
        .caption__group--comment
          メッセージはまだありません。