.captions
  - current_user.groups.each do |group|
    .caption
      = link_to group_comments_path(group) do
        .caption__name
          = group.name
        .caption__comment
          メッセージはまだありません。