.comment
  .comment-space
    .comment-space__detail
      %p{:class => "comment-space__detail--menber-name"}makurahumi
      %p{:class => "comment-space__detail--date"}2019/10/11(Fri) 12:00:00
    %p{:class => "comment__text"}test