.group-home
  .group-home__detail
    %h2{:class => "group-home__detail--current-group"}
      test-space
    %ul{:class => "group-home__detail__menber--caption"}
      Menber :
      %li{:class => "group-home__detail__menber--list"}
        makurahumi
  %a{:href => ""}
    .group-home__btn--edit
      Edit