.group-home
  .group-home__detail
    %h2.group-home__detail--current-group test-space
    %ul.group-home__detail__menber--caption
      Menber:
      %li.group-home__detail__menber--list
        makurahumi
  =link_to "/" ,class: "group-home__btn--edit" do
    Edit