.property
  .property__box
    %p{:class => "property__box__users-name"}makurahumi
    %ul{:class => "property__box__menu"}
      %li{:class => "property__box__menu--create-group"}
        =link_to class:  "property__btn property__btn--new-group"
      %li<>
        =link_to class: "property__btn property__btn--user-edit"