.property
  .property__box
    %p.property__box__users-name makurahumi
    %ul.property__box__menu
      %li.property__box__menu--create-groups
        =link_to "/", class: "property__btn--create-groups" do
          =fa_icon 'edit'
      %li.property__box__menu--edit-users
        =link_to "/", class: "property__btn--edit-users" do
          =fa_icon 'cog'