.property
  .property__box
    %p{:class => "property__box__users-name"}makurahumi
    %ul{:class => "property__box__menu"}
      %li{:class => "property__box__menu--create-groups"}
        =link_to "/" do
          =fa_icon 'edit'
      %li{:class => "property__box__menu--edit-users"}
        =link_to "/" do
          =fa_icon 'cog'