.send
  %form{:class => "send-space", :action => "", :method => "post"}
    .input-box
      %input{:class => "input-box__text", :type => "text", :name => "comment-text", :placeholder => "type a comment"}
      %label{:class => "input-box__image"}
        %input{:class => "input-box__image--file", :type => "file"}
    %input{:class => "submit-btn", :type => "submit", :name => "send-btn", :value => "Send"}
 