.header
  =render "hader"

.contents
  .sub-menu
    =render "property"
    =render "caption"
  
  .main-menu
    =render "group-home"
    .comment-space
      .comment-space__menber-name
        makurahumi
        .comment-space__date
          2019/10/11(Fri) 12:00:00
      .comment-space__text
        test
    .send-space
      .send-space__form
        %input{:placeholder => "type a comment"}
        %input{:type => "sbumit", :value => "SEND"}
