.contents
  .sub-menu
    =render partial: "comments/property"
    =render partial: "comments/caption"
  
  .main-menu
    =render partial: "comments/group-home"
    =render partial: "comments/comment"
    =render partial: "comments/send"