$all-white: #FFFFFF;

$side-property: #253141;

$side-bar: #2f3e51;

$main-gray: #999999;

$main-dark: #434A54;

$main-caption: #333333;

$comment-back-color: #fafafa;

$solid-color: #eee;

$send-back: #ddd;

$light_blue: #38AEF0;

$alert_orange: #F35500;