$mainWhiteColor: #FFFFFF;

$mainGrayColor: #999999;

$mainDarkColor: #434A54;

$mainBlueCorlor: #38AEF0;

$side-barCorlor: #2f3e51;

@mixin white($color: #FFFFFF, $fWeight :bold){
  color: $color;
  font-weight: $fWeight;
}

@mixin sub-side($padding: 0 20px){
  padding: 0 20px;
}

@mixin main-side($padding: 0 40px){
  padding: 0 40px;
}

@mixin border($border-bottom: solid, $border-width: 1px, $border-color: #eeeeee,){
  border-bottom: solid;
  border-width: 1px;
  border-color: #eeeeee;
}