.main-comment {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  overflow: scroll;
  background-color: $comment-back-color;
}

.comments__text {
  font-size: 14px;
  padding-bottom: 10px;
  color: $main-dark;
}

.comments-space {
  padding-bottom: 40px;
  &__detail {
    display: flex;
    margin-bottom: 10px;
    &--date {
      font-size: 12px;
      margin-left: 10px;
      color: $main-gray;
    }
  }
  &__space--menber-name {
    font-size: 16px;
    font-weight: bold;
    color: $main-dark;
  }
} 