.property {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: $side-property;
  &__box {
    width: 100%;
    line-height: 100px;
    font-size: 16px;
    @include display-justify();
    @include white();
  }
  &__box__menu {
    display: flex;
  }
  &__box__menu--create-groups {
    margin-left: 0.3rem;
  }
  &__box__menu--edit-users {
    margin-left: 0.3rem;
  } 
  &__btn--create-groups {
    font-size: 16px;
    color: $all-white;
  }
  &__btn--edit-users {
    font-size: 16px;
    color: $all-white;
  }
}