.send {
  height: 90px;
  padding: 20px 40px;
  background-color: $send-back;
}

.new_comment{
  display: flex;
}

.send__text {
  width: 100%;
  height: 50px;
  padding: 0 40px 0 10px;
  border-style: none;
  color: $main-dark;
  }

.input-box__image {
  position: relative;
  &--file {
    display: none;
  }
}

.icon {
  font-size: 1.3rem;
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
}

input::placeholder{
  font-size: 16px;
  color: $main-dark;
}

.submit-btn {
  height: 50px;
  width: 100px;
  margin-left: 15px;
  padding: 0 30px;
  color: $all-white;
  background-color: $light_blue;
  cursor: pointer;
}
