.header {
  height: 30px;
  width: 100%;
  background-color: $mainBlueCorlor;
  &__logo {
    color: $mainWhiteColor;
    line-height: 30px;
    text-align: center;
  }
}

.sub-menu{
  width: 300px;
  float: left;
  background-color: white;
}

.property {
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  @include sub-side();
  &__box {
    width: 100%;
    display: flex;
    line-height: 100px;
    justify-content: space-between;
    font-size: 16px;
    @include white();
  }
  &__box__menu {
    display: flex;
  }
  &__box__menu--create-groups {
    margin-left: 0.3rem;
  }
  &__box__menu--edit-users {
    margin-left: 0.3rem;
  } 
  &__btn--create-groups {
    color: $mainWhiteColor;
  }
  &__btn--edit-users {
    color: $mainWhiteColor;
  }
}

.caption {
  height: calc(100vh - 100px);
  width: 300px;
  background-color: $side-barCorlor;
  &__caption__group {
    @include white();
  }
  &__group-name {
    font-size:15px;
  }
  &__group-text {
    font-size: 11px;
    padding: 0 20px 40px 20px;
  }
}

.main-menu{
  width: calc(100vw - 300px);
  float: left;
}